// fade
.fade-enter-active,
.fade-leave-active {
    transition: opacity .1s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

// slide
.slide-left-enter-active,
.slide-left-leave-active {
    transition: all 0.3s ease;
}

.slide-left-enter-from,
.slide-left-leave-to {
    opacity: 0;
    transform: translateX(100%);
}

// height
.height-enter-active,
.height-leave-active {
    transition: all 0.3s ease;
}
