// base colors
$base0: #fafafa;
$base50: #a6a6a6;
$base100: #595959;
$base200: #504f4f;
$base300: #2b2b2b;
$base400: #181817;

// other colors
$red: #ed0707;
$green: #228b22;

// other
$disabled-opacity: .6;
$header-height: 6.4rem;