@import "../shared/variables";
@import "../mixins/media";

.page {
    width: 100%;
    min-height: 100vh;
}

.loading {
    position: relative;
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: .5rem;
        height: 200%;
        box-shadow: -2rem 0 1.2rem $base0;
        background-color: transparent;
        transform: rotate(45deg) translateY(-10%);
        animation: to-right 1.5s linear infinite;
    }
}

@keyframes to-right {
    100% {
        left: 120%;
    }
}

.form-title {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: $base400;
}

.container {
    margin: 0 auto;
    max-width: 128rem;

    @include respond-to(mobile) {
        margin: 0;
        padding: 0 1.6rem;
        max-width: 100%;
    }
}